.page {
    position: relative;
    display: flex;
    flex-direction: column; /* Standardmäßiges Layout für mobile Geräte */
    
}

.switch {
    display: flex;
    justify-content: flex-end; /* Elemente nach rechts ausrichten */
    align-items: center; /* Vertikale Ausrichtung */
}

body.dark-mode {
    background-color: #121212;
    color: white;
}




@media (max-width: 640.98px) {
    .top {
        justify-content: space-between; /* Verteile Elemente in der .top-Leiste */
        padding: 0.5rem; /* Weniger Padding auf mobilen Geräten */
    }

        /* Optionale Anpassungen für Links und Buttons in der .top-Leiste */
        .top ::deep a, .top ::deep .btn-link {
            margin-left: 0;
        }

}

@media (min-width: 641px) {
    .page{
        flex-direction:row;
    }
  

}
