
.mud-main-content {
    margin-top: 150px;
    padding: 40px;
    padding-left: 50px; /* Falls bereits vorhanden, Wert erhöhen */
    margin-left: 20px; /* Fügt zusätzlichen Abstand links hinzu */
    margin-top:20px;
}



.mud-app-bar {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 64px; 
    background-color: var(--mud-palette-primary); 
}

    .mud-app-bar img {
        height: 40px;
        margin-left: 10px;
    }


.mud-drawer {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

body {
    margin: 10px;
    margin-left: 20px; /* Verschiebt den Inhalt weiter nach rechts */
    margin-top: 20px;
    font-family: Arial;
}


.logo-container {
    margin-left: 12px; 
    display: flex; 
    align-items: center; 
}

.content-wrapper {
    margin-left: 20px;
    margin-top:10px;
}


/* Logo-Bild */
.logo-image {
    height: 40px;
    margin-left: 10px;
}