.page {
    position: relative;
    display: flex;
    flex-direction: column; /* Standardmäßiges Layout für mobile Geräte */
    
}

main {
    flex: 1;
}

.switch {
    display: flex;
    justify-content: flex-end; /* Elemente nach rechts ausrichten */
    align-items: center; /* Vertikale Ausrichtung */
}

body.dark-mode {
    background-color: #121212;
    color: white;
}




@media (max-width: 640.98px) {
    .top {
        justify-content: space-between; /* Verteile Elemente in der .top-Leiste */
        padding: 0.5rem; /* Weniger Padding auf mobilen Geräten */
    }

        /* Optionale Anpassungen für Links und Buttons in der .top-Leiste */
        .top ::deep a, .top ::deep .btn-link {
            margin-left: 0;
        }

}

@media (min-width: 641px) {
    .page {
        display: flex;  
    }


}


#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;  Standardmäßig ausblenden 
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
