.mud-elevation-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

    .nav-item:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

.nav-group {
    margin-top: 10px;
}

.mud-navmenu {
    padding: 10px;
}
